<tr class="spree-product-sale-price" data-hook="products_row" id="<%= spree_dom_id(sale_price) %>">
  <td>
    <%= active_for_sale_price(product, sale_price) ? 'Yes' : '' %>
  </td>
  <td>
    <%= sale_price.display_price.to_html %>
  </td>
  <td>
    <%= sale_price.start_at %>
  </td>
  <td>
    <%= sale_price.end_at %>
  </td>
  <td>
    <%= sale_price.enabled %>
  </td>
  <td class="actions">
    <%= link_to_delete sale_price, {:url => admin_product_sale_price_url(product, sale_price.id), :no_text => true} %>
  </td>
</tr>
