<tr class="spree-product-sale-price" id="<%= spree_dom_id(variant) %>">
  <td> <%= active_for_sale_price(variant, sale_price) ? Spree.t(:yes) : '' %> </td>
  <td> <%= display_original_price(variant) %> </td>
  <td> <%= sale_price.display_price.to_html %> </td>
  <td> <%= sale_price.start_at.to_date %> </td>
  <td> <%= sale_price.end_at.to_date %> </td>
  <td> <%= sale_price.enabled %> </td>
  <td class="actions"> <%= link_to_delete sale_price, {:url => admin_product_sale_price_url(product, sale_price.id), :no_text => true} %> </td>
</tr>
