<table class="index" data-hook="sale_price_table" id="product_sale_prices">
  <colgroup>
    <col style="width: 10%"></col>
    <col style="width: 20%"></col>
    <col style="width: 30%"></col>
    <col style="width: 30%"></col>
    <col style="width: 10%"></col>
    <col style="width: 10%"></col>
  </colgroup>
  <thead>
    <tr data-hook="products_header">
      <th>
        <%= Spree.t('sale_price_active') %>
      </th>
      <th>
        <%= Spree.t('sale_price') %>
      </th>
      <th>
        <%= Spree.t('sale_price_start_at') %>
      </th>
      <th>
        <%= Spree.t('sale_price_end_at') %>
      </th>
      <th>
        <%= Spree.t('sale_price_enabled') %>
      </th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "sale_price", collection: product.master.sale_prices, locals: {product: product} %>
  </tbody>
</table>
