<tr id="<%= spree_dom_id(variant) %>">
  <td class="image text-center">
    <% if variant.images.present? %>
      <%= image_tag variant.images.first.attachment.url(:mini) %>
    <% end %>
  </td>
  <td> <%= variant.sku_and_options_text %> </td>
  <td>
    <table class="table table-bordered no-marginb">
      <thead>
        <th> <%= Spree.t('sale_price_active') %></th>
        <th> <%= Spree.t('price') %> </th>
        <th> <%= Spree.t('sale_price') %> </th>
        <th> <%= Spree.t('sale_price_start_at') %> </th>
        <th> <%= Spree.t('sale_price_end_at') %> </th>
        <th> <%= Spree.t('sale_price_enabled') %> </th>
        <th class="actions text-center"></th>
      </thead>
      <tbody>
        <%= render partial: "sale_price", collection: variant.sale_prices, locals: { product: product, variant: variant } %>
      </tbody>
    </table>
  </td>
</tr>
